details {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  min-height: 54px;
  overflow: hidden;
  border-radius: 12px;
  border: var(--style-border);
  transition: border 0.3s;
}
details:hover {
  border: var(--style-border-hover-always);
}
details summary {
  position: absolute;
  padding: 0.5rem 1rem;
  background: var(--efu-card-bg);
  margin: 0;
  transition: 0.3s;
  box-shadow: var(--efu-shadow-border);
  left: 0;
  width: 100%;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
details>:nth-child(2) {
  margin-top: calc(54px + 1rem) !important;
}
details[open] summary {
  background: var(--efu-lighttext);
  color: var(--efu-card-bg);
}
details summary::before {
  content: '';
  padding: 4px;
}
details summary:hover {
  cursor: pointer;
  background: var(--efu-lighttext);
  color: var(--efu-card-bg);
  transition: 0.3s;
  box-shadow: var(--efu-shadow-main);
}
details summary:focus {
  outline: 0;
}
details summary::marker {
  color: var(--efu-lighttext);
  transition: 0.3s;
}
details[open] summary::marker {
  color: var(--efu-card-bg);
}
details summary:hover::marker {
  color: var(--efu-card-bg);
}
details[open] {
  border-radius: 12px;
  border: var(--style-border-hover-always);
  padding: 0 1.5rem;
  background: var(--efu-card-bg);
}
details summary:hover:after {
  position: absolute;
  content: '+';
  text-align: center;
  top: calc(50% - 2px);
  transform: translateY(-50%);
  right: 16px;
  line-height: 1;
}
details[open]>summary:hover:after {
  content: '-';
}
@media screen and (max-width: 768px) {
  details[open] {
    padding: 0 16px;
  }
}
#article-container a.tag-link {
  background: var(--efu-secondbg);
  border-radius: 8px !important;
  display: flex;
  border: var(--style-border);
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-width: 1px;
  margin: 1rem 0;
}
#article-container a.tag-link:hover {
  background: var(--efu-main);
  border: var(--style-border-hover) !important;
}
#article-container a.tag-link:hover .tag-link-tips {
  color: var(--efu-white);
}
#article-container a.tag-link:hover i {
  opacity: 1;
}
#article-container a.tag-link i {
  transition: 0.3s;
  margin-left: auto;
  opacity: 0.6;
}
#article-container a.tag-link .tag-link-bottom {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: space-around;
}
#article-container a.tag-link .tag-link-bottom .tag-link-left {
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 8px;
  background-color: var(--efu-card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}
#article-container a.tag-link .tag-link-bottom .tag-link-left i {
  padding: 0;
  margin: auto;
  font-size: 24px;
  color: var(--efu-fontcolor);
}
#article-container a.tag-link .tag-link-bottom .tag-link-right {
  margin-left: 1rem;
  max-width: calc(100% - 76px - 1rem);
}
#article-container .tag-link-tips {
  border-bottom: var(--style-border);
  padding-bottom: 4px;
  font-size: 12px;
  color: var(--efu-gray);
  font-weight: 400;
}
.checkbox {
  display: flex;
  align-items: center;
}
.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 16px;
  width: 16px;
  transition: all 0.15s ease-out 0s;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 2px;
  flex-shrink: 0;
  margin-right: 8px;
  border: 2px solid #2196f3;
  pointer-events: none;
}
.checkbox input[type="checkbox"]:before {
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
  transition: all 0.2s ease-in;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.checkbox input[type="checkbox"]:after {
  right: 7px;
  bottom: 3px;
  width: 2px;
  height: 0;
  transition: all 0.2s ease-out;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transition-delay: 0.25s;
}
.checkbox input[type="checkbox"]:checked {
  background: #2196f3;
}
.checkbox input[type="checkbox"]:checked:before {
  left: 0;
  top: 7px;
  width: 6px;
  height: 2px;
}
.checkbox input[type="checkbox"]:checked:after {
  right: 3px;
  bottom: 1px;
  width: 2px;
  height: 10px;
}
.checkbox.minus input[type="checkbox"]:before {
  transform: rotate(0);
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
}
.checkbox.minus input[type="checkbox"]:after {
  transform: rotate(0);
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
}
.checkbox.minus input[type="checkbox"]:checked:before {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.minus input[type="checkbox"]:checked:after {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.plus input[type="checkbox"]:before {
  transform: rotate(0);
  left: 1px;
  top: 5px;
  width: 0;
  height: 2px;
}
.checkbox.plus input[type="checkbox"]:after {
  transform: rotate(0);
  left: 5px;
  top: 1px;
  width: 2px;
  height: 0;
}
.checkbox.plus input[type="checkbox"]:checked:before {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.plus input[type="checkbox"]:checked:after {
  left: 5px;
  top: 1px;
  width: 2px;
  height: 10px;
}
.checkbox.times input[type="checkbox"]:before {
  transform: rotate(45deg);
  left: 3px;
  top: 1px;
  width: 0;
  height: 2px;
}
.checkbox.times input[type="checkbox"]:after {
  transform: rotate(135deg);
  right: 3px;
  top: 1px;
  width: 0;
  height: 2px;
}
.checkbox.times input[type="checkbox"]:checked:before {
  left: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox.times input[type="checkbox"]:checked:after {
  right: 1px;
  top: 5px;
  width: 10px;
  height: 2px;
}
.checkbox input[type="radio"] {
  border-radius: 50%;
}
.checkbox input[type="radio"]:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 2px;
  transform: scale(0);
  transition: all 0.25s ease-out;
}
.checkbox input[type="radio"]:checked:before {
  transform: scale(1);
  background: var(--text-bg-hover);
}
.checkbox.red input {
  border-color: #fe5f58;
}
.checkbox.red input[type="checkbox"]:checked {
  background: #fe5f58;
}
.checkbox.red input[type="radio"]:checked:before {
  background: #fe5f58;
}
.checkbox.green input {
  border-color: #3dc550;
}
.checkbox.green input[type="checkbox"]:checked {
  background: #3dc550;
}
.checkbox.green input[type="radio"]:checked:before {
  background: #3dc550;
}
.checkbox.yellow input {
  border-color: #ffbd2b;
}
.checkbox.yellow input[type="checkbox"]:checked {
  background: #ffbd2b;
}
.checkbox.yellow input[type="radio"]:checked:before {
  background: #ffbd2b;
}
.checkbox.cyan input {
  border-color: #1bcdfc;
}
.checkbox.cyan input[type="checkbox"]:checked {
  background: #1bcdfc;
}
.checkbox.cyan input[type="radio"]:checked:before {
  background: #1bcdfc;
}
.checkbox.blue input {
  border-color: #2196f3;
}
.checkbox.blue input[type="checkbox"]:checked {
  background: #2196f3;
}
.checkbox.blue input[type="radio"]:checked:before {
  background: #2196f3;
}
.checkbox p {
  display: inline-block;
  margin-top: 2px !important;
  margin-bottom: 0 !important;
}
.checkbox input[type="checkbox"]:before,
.checkbox input[type="checkbox"]:after {
  position: absolute;
  content: "";
  background: #fff;
}
[data-theme="dark"] .checkbox {
  filter: brightness(0.7);
}
.note {
  position: relative;
  margin: 0.5rem 0;
  padding: 15px;
  border-radius: 3px;
}
.note:not(.no-icon) {
  padding-left: 2.2rem;
}
.note > i.solitude {
  margin-right: 0.7rem;
  font-size: 24px;
  position: absolute;
  left: 0.5rem;
  top: calc(100% / 2 - 12px);
}
.note a {
  color: inherit !important;
}
.note a:hover {
  color: var(--efu-white) !important;
}
.note.info:not(.disabled) {
  border-left-color: #428bca;
}
.note.info:not(.disabled).modern {
  color: #428bca;
}
.note.info:not(.disabled):not(.simple) {
  background: #d0e2f2;
}
.note.info:not(.disabled) > i {
  color: #428bca;
}
.note.danger:not(.disabled) {
  border-left-color: #d9534f;
}
.note.danger:not(.disabled).modern {
  color: #d9534f;
}
.note.danger:not(.disabled):not(.simple) {
  background: #f5d4d3;
}
.note.danger:not(.disabled) > i {
  color: #d9534f;
}
.note.primary:not(.disabled) {
  border-left-color: #6f42c1;
}
.note.primary:not(.disabled).modern {
  color: #6f42c1;
}
.note.primary:not(.disabled):not(.simple) {
  background: #dbd0f0;
}
.note.primary:not(.disabled) > i {
  color: #6f42c1;
}
.note.warning:not(.disabled) {
  border-left-color: #f0ad4e;
}
.note.warning:not(.disabled).modern {
  color: #f0ad4e;
}
.note.warning:not(.disabled):not(.simple) {
  background: #fbebd3;
}
.note.warning:not(.disabled) > i {
  color: #f0ad4e;
}
.note.success:not(.disabled) {
  border-left-color: #5cb85c;
}
.note.success:not(.disabled).modern {
  color: #5cb85c;
}
.note.success:not(.disabled):not(.simple) {
  background: #d6edd6;
}
.note.success:not(.disabled) > i {
  color: #5cb85c;
}
.note.default:not(.disabled) {
  border-left-color: #777;
}
.note.default:not(.disabled).modern {
  color: #777;
}
.note.default:not(.disabled):not(.simple) {
  background: #ddd;
}
.note.default:not(.disabled) > i {
  color: #777;
}
.note.simple {
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #eee;
  border-image: initial;
}
.note.modern {
  background-color: #f5f5f5;
  color: #4c4948;
  border: 1px solid transparent !important;
}
.note.flat {
  border: initial;
  border-image: initial;
  border-left: 5px solid #eee;
  background-color: #f9f9f9;
  color: #4c4948;
}
#article-container .note h2,
#article-container .note h3,
#article-container .note h4,
#article-container .note h5,
#article-container .note h6 {
  margin-top: 3px;
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0;
}
#article-container .note p {
  margin: 0;
  font-size: inherit;
  letter-spacing: normal;
}
.st-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: var(--style-border);
  border-radius: 8px;
  background-color: var(--efu-card-btn-bg);
  color: var(--efu-fontcolor);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.st-btn:hover {
  border: var(--style-border-hover);
  background-color: var(--efu-theme-op);
}
.st-btn i {
  font-size: 1.2em;
  vertical-align: middle;
  transition: all 0.3s;
}
.st-btn span {
  margin-left: 0.5em;
}
.red {
  color: var(--efu-red);
}
.green {
  color: var(--efu-green);
}
.blue {
  color: var(--efu-blue);
}
.yellow {
  color: var(--efu-yellow);
}
.pink {
  color: var(--efu-pink);
}
.purple {
  color: var(--efu-purple);
}
.orange {
  color: var(--efu-orange);
}
.bg-red {
  background-color: var(--efu-red);
  color: var(--efu-white);
}
.bg-green {
  background-color: var(--efu-green);
  color: var(--efu-white);
}
.bg-blue {
  background-color: var(--efu-blue);
  color: var(--efu-white);
}
.bg-yellow {
  background-color: var(--efu-yellow);
}
.bg-pink {
  background-color: var(--efu-pink);
  color: var(--efu-white);
}
.bg-purple {
  background-color: var(--efu-purple);
  color: var(--efu-white);
}
.bg-orange {
  background-color: var(--efu-orange);
  color: var(--efu-white);
}
.block {
  display: block;
}
.center {
  margin: 0 auto;
}
.right {
  margin-left: auto;
}
.larger {
  font-size: 1.5rem;
  margin: 5px;
}
.larger i {
  transform: scale(1.5);
}
.video-container {
  display: flex;
  justify-content: center;
}
.video-container iframe {
  width: 80%;
  height: 400px;
}
@media screen and (max-width: 768px) {
  .video-container iframe {
    width: 100%;
    height: 200px;
  }
}
